//import 시작 -------------------------------------------------------------------
@import "../common/css/_common";
//import 끝 -------------------------------------------------------------------



//body 시작 -------------------------------------------------------------------
body {
    overflow: hidden;
}
//body 끝 -------------------------------------------------------------------



//main 시작 -------------------------------------------------------------------
.main {
    &__title {
        font-family: "Chakra Petch";
        font-size: 5rem;
        font-weight: 700;
        color: #fff;
        position: fixed;
        left: 50px;
        top: 160px;
        z-index: 2;

        &.active {
            color: #262626;
        }
    }
    section {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        transition: 1s cubic-bezier(0.33, 1, 0.68, 1);
    }
    //visual 시작 -------------------------------------------------------------------
    &__visual {
        &_img {
            width: 100%;
            height: 100vh;

            &.active {
                width: 75%;
                height: 72vh;
                margin: 0 auto;
                padding-top: 160px;
                transition: .7s .7s cubic-bezier(0.76, 0, 0.24, 1);
            }
            div {
                width: 100%;
                height: 100%;
                background-image: url("../img/about/about_bg_00.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &_text {
            text-align: center;
            transform: translateY(-5%);

            span {
                width: 1px;
                height: 0;
                background: #262626;
                display: block;
                position: absolute;
                left: 50%;
                top: -50%;
                transition: .5s 1.7s;

                &.active {
                    height: 60px;
                }
            }
            strong {
                font-family: "Chakra Petch";
                margin-bottom: 30px;
                font-size: 5rem;
                font-weight: 900;
                letter-spacing: .1rem;
                color: #000;
                transform: translateY(100%);
                visibility: hidden;
                opacity: 0;
                transition: .5s 2s;

                &.active {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
            p {
                margin: 0 auto;
                font-size: 1.25rem;
                font-weight: 100;
                transform: translateY(100%);
                visibility: hidden;
                opacity: 0;
                transition: .5s 2.3s;

                &.active {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    //visual 끝 -------------------------------------------------------------------
    //introduce 시작 -------------------------------------------------------------------
    &__introduce {
        padding: 100px 0 0 20%;
        background-image: url("../img/about/about_bg_01.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;

        article {
            h3 {
                font-family: "Chakra Petch";
                font-size: 1.375rem;
                font-weight: 600;
                color: #fff;
            }
            & > strong {
                font-size: 2.875rem;
                font-weight: 300;
                line-height: 7rem;
                color: #fff;
            }
        }
        &_passion {
            margin-right: 10%;

            p {
                margin-top: 20px;
                white-space: pre-line;
                font-size: 1.125rem;
                font-weight: 100;
                color: #fff;
            }
        }
        &_vision {
            ul {
                margin-top: 20px;

                li {
                    margin-bottom: 16px;
                    display: flex;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    & > p {
                        color: #fff;

                        &:nth-of-type(1) {
                            width: 165px;
                            font-family: "Chakra Petch";
                            font-size: 1.125rem;
                            font-weight: 500;
                        }
                        &:nth-of-type(2) {
                            font-weight: 300;
                        }
                    }
                }
            }
            &_tech {
                div {
                    margin-bottom: 36px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    strong {
                        width: max-content;
                        font-family: "Chakra Petch";
                        font-size: 1.125rem;
                        font-weight: 600;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        position: relative;
                        cursor: help;

                        &:hover span {
                            left: 75px;
                            visibility: visible;
                            opacity: 1;
                        }
                        img {
                            margin-left: 8px;
                        }
                        span {
                            width: max-content;
                            padding: 0 12px;
                            border-radius: 16px;
                            background: rgba(0,0,0,.5);
                            font-size: .9rem;
                            font-weight: 300;
                            color: #fff;
                            position: absolute;
                            left: 68px;
                            top: 0;
                            visibility: hidden;
                            opacity: 0;
                            transition: .5s cubic-bezier(0.33, 1, 0.68, 1);
                        }
                    }
                    small {
                        width: 100%;
                        margin-top: 6px;
                        font-family: "Chakra Petch";
                        font-weight: 300;
                        color: #fff;
                        display: block;
                    }
                }
            }
        }
    }
    //introduce 끝 -------------------------------------------------------------------
}
//main 끝 -------------------------------------------------------------------



//반응형 시작 -------------------------------------------------------------------
@include pc-mid { //1440px 이하 ------------------------------------------------
    .main {
        &__introduce {
            padding: 120px 0 0 10%;

            &_passion {
                margin-right: 12%;
                padding-top: 370px;
            }
        }
    }
}
@include tab-large { //1024px 이하 ------------------------------------------------
    .main {
        &__title {
            top: 160px;
        }
        &__visual {
            &_img {
                height: 65vh;
                padding-top: 220px;
            }
            &_text {
                strong {
                    font-size: 4rem;
                    margin-bottom: 15px;
                }
            }
        }
        &__introduce {
            padding: 100px 0 0 5%;

            article > strong {
                font-size: 1.875rem;
                line-height: 4rem;
            }
            &_passion {
                padding-top: 200px;
                margin-right: 5%;

                p {
                    width: max-content;
                }
            }
            &_vision ul li {
                margin-bottom: 12px;
            }
        }
    }
}
@include tab-small { //768px 이하 ------------------------------------------------
    .main {
        &__visual {
            &_img {
                width: 85%;
            }
        }
        &__introduce {
            padding: 190px 0 0 5%;
            display: block;

            &_passion {
                padding-top: 0;
                transform: translate(42%);

                p {
                    margin-top: 10px;
                    font-size: 1rem;
                }
            }
        }
    }
}
@include mob-large { //640px 이하 ------------------------------------------------
    .main {
        &__title {
            top: 100px;
        }
        &__visual {
            &_img {
                width: 85%;
                height: 60vh;
                padding-top: 400px;
            }
            &_text {
                transform: translateY(30%);
            }
        }
        &__introduce {
            padding: 240px 0 0 5%;

            &_passion {
                transform: translate(30%);
                margin-bottom: 50px;
            }
        }
    }
}
@include mob-mid { //425px 이하 ------------------------------------------------
    .main {
        &__title {
            font-size: 3rem;
            left: 25px;
            top: 80px;
        }
        &__visual {
            &_img {
                height: 50vh;
                padding-top: 260px;
            }
            &_text {
                strong {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 1rem;
                }
                span {
                    height: 40px;
                }
            }
        }
        &__introduce {
            padding: 180px 0 0 5%;

            &_passion {
                display: none;
            }
            article {
                h3 {
                    font-size: 1.2rem;
                }
                > strong {
                    line-height: 3rem;
                }
            }
            &_vision {
                ul li {
                    margin-bottom: 6px;

                    > p:nth-of-type(1) {
                        width: 110px;
                        font-size: 1rem;
                    }
                    > p:nth-of-type(2) {
                        font-size: .9rem;
                    }
                }
                &_tech div {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
//반응형 끝 -------------------------------------------------------------------