@import "../common/css/_common";

body {
    overflow: hidden;
    transition: 1s;
}

.main {
    &__title {
        font-family: "Chakra Petch";
        font-size: 5rem;
        font-weight: 700;
        color: #fff;
        position: fixed;
        left: 50px;
        top: 240px;
        z-index: 2;

        &.active {
            color: #262626;
        }
    }
    section {
        width: 100%;
        height: 100vh;
        transition: 1s cubic-bezier(0.33, 1, 0.68, 1);
    }
    &__visual {
        &_img {
            width: 100%;
            height: 100vh;

            &.active {
                width: 75%;
                height: 72vh;
                margin: 0 auto;
                padding-top: 295px;
                transition: .7s .7s cubic-bezier(0.76, 0, 0.24, 1);
            }
            div {
                width: 100%;
                height: 100%;
                background-image: url("../img/about/about_bg_00.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &_text {
            text-align: center;
            transform: translateY(-5%);

            span {
                width: 1px;
                height: 0;
                background: #262626;
                display: block;
                position: absolute;
                left: 50%;
                top: -50%;
                transition: .5s 1.7s;

                &.active {
                    height: 60px;
                }
            }
            strong {
                font-family: "Chakra Petch";
                margin-bottom: 30px;
                font-size: 5rem;
                font-weight: 900;
                letter-spacing: .1rem;
                color: #000;
                transform: translateY(100%);
                visibility: hidden;
                opacity: 0;
                transition: .5s 2s;

                &.active {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
            p {
                margin: 0 auto;
                font-size: 1.25rem;
                font-weight: 100;
                transform: translateY(100%);
                visibility: hidden;
                opacity: 0;
                transition: .5s 2.3s;

                &.active {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &__introduce {
        padding: 200px 0 0 20%;
        background-image: url("../img/about/about_bg_01.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;

        article {
            h3 {
                font-family: "Chakra Petch";
                font-size: 1.375rem;
                font-weight: 600;
                color: #fff;
            }
            & > strong {
                font-size: 2.875rem;
                font-weight: 300;
                line-height: 7rem;
                color: #fff;
            }
        }
        &_passion {
            margin-right: 15%;

            p {
                margin-top: 20px;
                font-size: 1.125rem;
                font-weight: 100;
                color: #fff;
            }
        }
        &_vision {
            ul {
                margin-top: 20px;

                li {
                    margin-bottom: 24px;
                    display: flex;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    & > p {
                        color: #fff;

                        &:nth-of-type(1) {
                            width: 165px;
                            font-family: "Chakra Petch";
                            font-size: 1.125rem;
                            font-weight: 500;
                        }
                        &:nth-of-type(2) {
                            font-weight: 300;
                        }
                    }
                }
            }
            &_tech {
                div {
                    margin-bottom: 36px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    strong {
                        width: max-content;
                        font-family: "Chakra Petch";
                        font-size: 1.125rem;
                        font-weight: 600;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        position: relative;
                        cursor: help;

                        &:hover span {
                            left: 75px;
                            visibility: visible;
                            opacity: 1;
                        }
                        img {
                            margin-left: 8px;
                        }
                        span {
                            width: max-content;
                            padding: 0 12px;
                            border-radius: 16px;
                            background: rgba(0,0,0,.5);
                            font-size: .9rem;
                            font-weight: 300;
                            color: #fff;
                            position: absolute;
                            left: 68px;
                            top: 0;
                            visibility: hidden;
                            opacity: 0;
                            transition: .5s cubic-bezier(0.33, 1, 0.68, 1);
                        }
                    }
                    small {
                        width: 100%;
                        margin-top: 6px;
                        font-family: "Chakra Petch";
                        font-weight: 300;
                        color: #fff;
                        display: block;
                    }
                }
            }
        }
    }
}