@import "../common/css/common";

body {
    overflow: hidden;
}

.visual {
    height: 100vh;
    background: #000;
    position: relative;

    &__bg {
        width: 100%;
        height: 100vh;
        margin: -0.5px -0.5px 0 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        position: fixed;
        left: 50%;
        top: 50%;
        opacity: .5;
        transform: translate(-50%,-50%) scale(1);

        &.active {
            transform: translate(-50%,-50%) scale(1);
            transition: transform 5s linear;
        }
        &.slideUp {
            animation: slideUp 1.8s forwards cubic-bezier(0.45, 0, 0.55, 1);
        }
        &.slideDown {
            animation: slideDown 1.8s forwards cubic-bezier(0.45, 0, 0.55, 1);
        }
        @keyframes slideUp {
            30% {
                transform: translate(-50%,-50%) scale(.5);
            };
            70% {
                transform: translate(-50%,-150%) scale(.5);
            }
            100% {
                transform: translate(-50%,-150%) scale(1);
            }
        }
        @keyframes slideDown {
            30% {
                transform: translate(-50%,-50%) scale(.5);
            };
            70% {
                transform: translate(-50%,50%) scale(.5);
            }
            100% {
                transform: translate(-50%,50%) scale(1);
            }
        }
    }
    &__text {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        &.active {
            .visual__text_wrap {
                & span {
                    transform: translateY(0);
                    transition: 1.2s cubic-bezier(0.16, 1, 0.3, 1);
                }
                &:last-of-type span {
                    transform: translateY(0);
                    transition: 1.2s .2s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }
        }
        &_wrap {
            margin: 0 auto;
            text-align: center;
            overflow: hidden;

            span {
                font-size: 7rem;
                font-weight: bold;
                line-height: 9rem;
                color: transparent;
                -webkit-text-stroke: 1px #fff;
                transform: translateY(200%);
            }
            &:last-of-type {
                span {
                    color: #fff;
                    -webkit-text-stroke: 0;
                }
            }
        }
        &_link {
            display: inline-block;
            position: absolute;
            bottom: -50px;
            visibility: hidden;
            opacity: 0;
            transform: translate(-75px);

            &.active {
                visibility: visible;
                opacity: 1;
                transition: 1s .7s;
            }
            & span {
                margin: 10px 30px;                
                font-family: 'Chakra Petch', sans-serif;
                font-weight: 500;
                letter-spacing: .1rem;
                color: #fff;                

                &::before {
                    content: "";
                    width: 0;
                    height: 1px;
                    background: #fff;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &::after {
                    content: "";
                    width: 0;
                    height: 1px;
                    background: #fff;
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                } 
            }            
            &::before {
                content: "";
                width: 1px;
                height: 0;
                background: #fff;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
            &::after {
                content: "";
                width: 1px;
                height: 0;
                background: #fff;
                display: block;
                position: absolute;
                left: 0;
                top: 100%;
            }
            &:hover {
                &::before {
                    animation: right 1s .5s infinite cubic-bezier(0.87, 0, 0.13, 1);
                }
                @keyframes right {
                    50% {
                        height: 100%;
                        top: 0;
                    }
                    100% {
                        height: 0;
                        top: 100%;
                    }
                }
                &::after {
                    animation: left 1s .5s infinite cubic-bezier(0.87, 0, 0.13, 1);
                }
                @keyframes left {
                    50% {
                        height: 100%;
                        top: 0;
                    }
                    100% {
                        height: 0;
                        top: 0;
                    }
                }              
                & span {
                    &::before {
                        animation: top 1s infinite cubic-bezier(0.87, 0, 0.13, 1);
                    }
                    @keyframes top {
                        50% {
                            width: 100%;
                            left: 0;
                        }
                        100% {
                            width: 0;
                            left: 100%;
                        }
                    }
                    &::after {
                        animation: bottom 1s infinite cubic-bezier(0.87, 0, 0.13, 1);
                    }
                    @keyframes bottom {
                        50% {
                            width: 100%;
                            right: 0;
                        }
                        100% {
                            width: 0;
                            right: 100%;
                        }
                    }
                }
            }
        }
    }
    &__line {
        width: 100%;
        height: 1px;
        background: rgba(255,255,255,.3);
        position: absolute;
        left: 0;
        top: 50%;

        &_bold {
            width: 0;
            height: 1px;
            background: rgba(255,255,255,1);
            position: absolute;

            &.active {
                width: 100%;
                transition: 5s cubic-bezier(0.45, 0, 0.55, 1);
            }
        }
    }
    &__ind {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 70px;
        top: 50%;
        transform: translateY(-50%);

        & button {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 12px;
            }
        }
        &_down {
            transform: rotate(180deg);
        }
        & span {
            margin: 12px 0;
            font-family: 'Chakra Petch', sans-serif;
            font-size: .8rem;
            font-weight: 300;
            letter-spacing: .2rem;
            color: #fff;
            transform: translate(2px);
        }
    }
    &__scroll {
        width: 30px;
        height: 45px;
        border: 2px solid rgba(255,255,255,.5);
        border-radius: 40px;
        position: fixed;
        left: 50%;
        bottom: 40px;
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%);
        animation: scroll 2.5s infinite ease-in-out;
        animation-delay: 1.5s;

        &.active {
            visibility: visible;
            opacity: 1;
            transition: 1s ease-in-out;
        }
        &::before {
            content: "";
            width: 2px;
            height: 6px;
            background: rgba(255,255,255,.5);
            border-radius: 2px;
            display: block;
            position: absolute;
            left: 50%;
            top: 20%;
            opacity: 0;
            transform: translate(-50%);
            animation: wheel 2.5s infinite ease-in-out;
            animation-delay: 1.5s;
        }
        @keyframes scroll {
            33% {
                bottom: 40px;
            }
            66% {
                bottom: 30px;
            }
            100% {
                bottom: 40px;
            }
        }
        @keyframes wheel {
            33% {
                top: 20%;
                height: 6px;
                opacity: 1;
            }
            66% {
                top: 80%;
                height: 0;
                opacity: 0;
            }
            100% {
                top: 20%;
                height: 0;
                opacity: 1;
            }
        }
    }
}

footer {
    position: fixed;
    left: 50px;
    bottom: 30px;

    small {
        font-size: .8rem;
        font-weight: 100;
        letter-spacing: .05rem;
        color: #ccc;
    }
}