@import "../common/css/common";

.main {
    margin-top: 240px;
    display: flex;

    &__left {
        width: 20%;
        height: 100vh;
        padding-left: 50px;
        position: fixed;

        &_title {
            margin-bottom: 30px;
            font-family: "Chakra Petch";
            font-size: 5rem;
            font-weight: 700;
            color: #262626;
        }
        &_list {
            & li {
                margin-bottom: 20px;
                width: max-content;

                & h3 {
                    & a {
                        padding-right: 6px;
                        font-family: "Chakra Petch";
                        font-size: 1.25rem;
                        color: #262626;
                        position: relative;
    
                        &::before {
                            content: "";
                            width: 0;
                            height: 5px;
                            background: #eaeaea;
                            display: block;
                            position: absolute;
                            left: 0;
                            bottom: 10%;
                            z-index: -1;
                            transition: .3s;
                        }
                        &:hover::before {
                            width: 100%;
                        }
                        &.active::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &__right {
        width: 80%;
        margin-left: 20%;
        position: relative;

        &_title {
            width: 100%;
            height: 180px;
            overflow: hidden;
            position: relative;

            & h2 {
                padding-left: 80px;
                font-size: 1.875rem;
                font-weight: 300;
                color: #666;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                transform: translateY(140%);
                transition: .7s cubic-bezier(0.16, 1, 0.3, 1);

                &.active {
                    opacity: 1;
                    transform: translateY(0);
                }
                & span {
                    font-size: 3.75rem;
                    font-weight: 800;
                    display: block;
                }
            }            
        }
        &_ind {
            font-size: 0;
            position: absolute;
            right: 120px;
            top: 60px;

            & button {
                width: 31px;
                height: 57px;
                opacity: 1;

                &.active {
                    cursor: auto;
                    opacity: .3;
                }
                &:first-of-type {
                    margin-right: 40px;
                    background-image: url("../img/work/prev.png");
                }
                &:last-of-type {
                    background-image: url("../img/work/next.png");
                }
            }
        }
        &_img {
            width: 95%;
            height: 720px;
            margin-bottom: 150px;
            position: relative;
            overflow: hidden;

            & figure {
                width: 0;
                padding-bottom: 720px;
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                position: absolute;
                top: 0;
                transition: .6s ease;

                &.active {
                    width: 100%;
                }
                &.right {
                    right: 0;
                }
            }
        }
        &_list {
            & li {
                margin-right: 10%;
                border-top: 1px solid #f2f2f2;

                &.active a {
                    opacity: .5;
                }
                & a {
                    padding: 50px 0;
                    display: flex;
                    align-items: center;
                    transition: 1s ease-in-out;

                    &:hover {
                        & div {
                            transform: translate(30px);
                        }
                    }
                    & div {
                        margin-right: 100px;
                        display: flex;
                        flex-direction: column;
                        transition: .4s;

                        & time {
                            margin-bottom: 5px;
                            font-family: "Chakra Petch";
                            font-size: 2.5rem;
                            font-weight: 100;
                            color: #555;
                        }
                        & small {
                            font-family: "Chakra Petch";
                            font-weight: 800;
                            color: #555;
                        }
                    }
                    & p {
                        font-size: 1.875rem;
                        font-weight: 900;
                        color: #333;
                    }
                } 
            }
        }
        &_preview {
            width: 400px;
            height: 400px;
            position: fixed;
            right: 76px;
            bottom: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            visibility: hidden;
            opacity: 0;

            &.active {
                visibility: visible;
                opacity: 1;
                transition: .3s ease-in-out;
            }
        }
    }
    &__detail {
        width: 100%;
        height: 100vh;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        transition: 1s cubic-bezier(0.76, 0, 0.24, 1);

        &:last-of-type {
            display: flex;
            transform: translate(100%);
        }
        &.active {
            transform: translate(-100%);
        }
        &.active:last-of-type {
            transform: translate(0);
        }
        &_wrapper {
            width: 80%;
            height: 100vh;
            background: #04070b;
            position: fixed;
            right: 0;
            top: 0;
            overflow: hidden;
            z-index: 2;
            transform: translate(100%);
            transition: 1s cubic-bezier(0.87, 0, 0.13, 1);

            &:nth-of-type(1) p::before{
                background: #282c6b;
            }
            &:nth-of-type(2) p::before{
                background: #e20714;
            }
            &:nth-of-type(3) p::before{
                background: #222131;
            }
            &:nth-of-type(4) p::before{
                background: #8cbff8;
            }
            &.active {
                transform: translate(0);

                .main__detail {
                    &_close {
                        visibility: visible;
                        opacity: 1;
                        transition: .5s 1s ease-in-out;
                    }
                }
            }
        }
        &_title {
            margin: 140px 0 60px;
            font-size: 4rem;
            font-weight: 600;
            color: #fff;

            & small {
                font-family: "Chakra Petch";
                font-size: 2rem;
                font-weight: 100;
                line-height: 5rem;
                letter-spacing: .05rem;
                color: rgba(255,255,255,.7);
                display: block;
            }
        }
        & img {
            width: 60%;
        }
        &_img {
            width: 44%;
            margin-left: 6%;
            padding-bottom: 100vh;
            background-image: url("../img/work/detail/detail_02.jpg");
            background-position: top;
            background-size: cover;
        }
        &_text {
            width: 50%;
            padding: 125px 30px 140px 75px;
            text-align: left;
            position: relative;
            display: flex;
            flex-wrap: wrap;

            &.active p{
                transform: translate(0);
                visibility: visible;
                opacity: 1;
            }
            & p {
                width: 50%;
                font-family: "Chakra Petch";
                font-size: 1.625rem;
                font-weight: 600;
                color: #fff;
                position: relative;
                transform: translate(-20px);
                visibility: hidden;
                opacity: 0;
                transition: .5s ease-in-out;

                @for $i from 1 to 7 {
                    &:nth-of-type(#{$i}) {
                        transition-delay: (($i - 1) * 0.1) + s;
                    }
                }
                &::before {
                    content: "";
                    width: 60px;
                    height: 7px;
                    display: block;
                    position: absolute;
                    left: -8px;
                    top: 23px;
                    z-index: -1;
                }
                &:nth-of-type(5), &:nth-of-type(6) {
                    width: 100%;
                }
                & span {
                    margin: 4px 0 0 16px;
                    font-family: "Chakra Petch";
                    color: #ccc;
                    display: block;
                }
            }
            &_link {
                padding: 0 30px;
                font-family: "Chakra Petch";
                font-size: 1.875rem;
                line-height: 3rem;
                color: #fff;
                position: absolute;
                left: 50%;
                bottom: 85px;
                visibility: hidden;
                opacity: 0;
                transform: translate(-50%, 10%);
                transition: 1s ease-in-out;

                &.active {
                    visibility: visible;
                    opacity: 1;
                    transform: translate(-50%);
                }
                &:hover {
                    transform: translate(-50%, 5%);
                }
            }
        }
        &_close {
            width: 50px;
            height: 50px;
            background-image: url("../img/work/close.png");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 50px;
            top: 50px;
            visibility: hidden;
            opacity: 0;
        }
    }
}