@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
/* Noto Sans KR 폰트 */
@import "https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap";
/* Chakra Petch 폰트 */
html, body, dl, dt {
  margin: 0;
  padding: 0; }

body {
  width: 100%; }

span, em, strong, a {
  display: inline-block; }

p, span, small, figcaption, li, h1, h2, h3, h4, h5, h6 {
  word-break: keep-all; }

ul, li {
  list-style-type: none; }

dt, dd {
  display: inline-block; }

em {
  font-style: normal; }

a {
  color: #262626;
  text-decoration: none;
  display: block; }

img {
  font-size: 0;
  vertical-align: top;
  display: inline-block; }

button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer; }

input {
  border: 0;
  background: transparent;
  outline: 0; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

textarea {
  outline: 0;
  resize: none; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #262626;
  font-weight: normal;
  box-sizing: border-box; }

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/ }

::selection {
  background: #262626;
  color: #fff; }

.header {
  width: 100%;
  z-index: 3;
  position: fixed; }
  .header.active .header__title a {
    color: #262626; }
    .header.active .header__title a.active {
      color: #fff; }
  .header.active .header__menu span {
    background: #262626; }
    .header.active .header__menu span.active {
      background: #fff; }
  .header.active .header__side_tel {
    color: #262626; }
  .header.active .header__side_link img {
    filter: brightness(0); }
  .header.active .header__side_link span {
    color: #262626; }
    .header.active .header__side_link span::after {
      background: #262626; }
  .header__title {
    position: fixed;
    left: 50px;
    top: 25px; }
    .header__title.active a {
      color: #262626; }
    .header__title a {
      font-size: 1.65rem;
      font-weight: 800;
      color: #fff; }
  .header__menu {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    top: 20px; }
    .header__menu span {
      width: 30px;
      height: 3px;
      background: #fff;
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      transition: .2s; }
      .header__menu span:first-of-type {
        transform: translate(-50%, -50%) translateY(8px); }
      .header__menu span:last-of-type {
        transform: translate(-50%, -50%) translateY(-8px); }
    .header__menu.active span {
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%); }
      .header__menu.active span:first-of-type {
        transform: translate(-50%) rotate(135deg); }
      .header__menu.active span:last-of-type {
        transform: translate(-50%) rotate(-135deg); }
  .header__side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: -1; }
    .header__side_tel {
      width: max-content;
      font-weight: 300;
      letter-spacing: .05rem;
      color: #fff;
      transform: rotate(90deg);
      transform-origin: right top; }
    .header__side_link {
      width: max-content;
      margin-bottom: 25px;
      position: relative; }
      .header__side_link:last-of-type {
        margin-bottom: 0; }
      .header__side_link img {
        width: 26px;
        height: 26px;
        transition: .3s; }
      .header__side_link span {
        font-size: .9rem;
        font-weight: 300;
        color: #fff;
        position: absolute;
        left: -60%;
        top: 50%;
        visibility: hidden;
        opacity: 0;
        transform: translate(-100%, -50%);
        transition: .2s; }
        .header__side_link span::after {
          content: "";
          width: 8px;
          height: 1px;
          background: #fff;
          display: inline-block;
          position: absolute;
          right: -40%;
          top: 50%; }
      .header__side_link:hover img {
        opacity: .5; }
      .header__side_link:hover span {
        left: -100%;
        visibility: visible;
        opacity: 1; }
  .header__nav {
    width: 100%;
    height: 0;
    background: #04070b;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 1s cubic-bezier(0.87, 0, 0.13, 1); }
    .header__nav.active {
      height: 100vh; }
    .header__nav.active .header__nav_left {
      visibility: visible;
      opacity: 1; }
    .header__nav_left {
      position: fixed;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      visibility: hidden;
      opacity: 0;
      transition: .7s; }
      .header__nav_left_list {
        display: flex;
        flex-direction: column; }
        .header__nav_left_list li {
          width: max-content;
          visibility: hidden;
          opacity: 0;
          transform: translateY(-60px);
          transition: .7s; }
          .header__nav_left_list li.active {
            visibility: visible;
            opacity: 1;
            transform: translateY(0); }
          .header__nav_left_list li:nth-of-type(4) a {
            margin-bottom: 50px; }
          .header__nav_left_list li a {
            font-size: 4rem;
            font-weight: 600;
            line-height: 6rem;
            letter-spacing: 0.1rem;
            color: #fff;
            transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1); }
          .header__nav_left_list li small {
            font-size: .7rem;
            letter-spacing: .05rem;
            color: #ccc; }
    .header__nav_right {
      position: fixed;
      right: 20%;
      top: 50%;
      transform: translateY(-60%);
      visibility: hidden;
      opacity: 0;
      transition: .7s; }
      .header__nav_right.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(-50%); }
      .header__nav_right_list {
        margin-bottom: 100px;
        display: flex;
        flex-direction: column; }
        .header__nav_right_list li {
          width: max-content;
          margin-bottom: 16px;
          transition: transform .2s ease-in-out; }
          .header__nav_right_list li:last-of-type {
            margin-bottom: 0; }
          .header__nav_right_list li:hover {
            transform: translateX(15%); }
          .header__nav_right_list li a {
            display: flex;
            align-items: center;
            color: #fff; }
            .header__nav_right_list li a img {
              margin-right: 16px;
              width: 20px; }
      .header__nav_right_tel {
        margin-bottom: 20px;
        font-size: 1.1rem;
        font-weight: 100;
        letter-spacing: .1rem;
        color: #fff;
        display: inline-block; }
      .header__nav_right_comment {
        width: 250px;
        padding: 0 30px;
        border: 1px solid #fff;
        line-height: 3rem;
        color: #fff;
        position: relative;
        display: flex;
        justify-content: space-between;
        transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1); }
        .header__nav_right_comment:hover {
          background: #fff;
          color: #000; }
          .header__nav_right_comment:hover::after {
            background: #04070b; }
        .header__nav_right_comment::after {
          content: "";
          width: 12px;
          height: 1px;
          background: #fff;
          display: inline-block;
          transform: translateY(25px);
          transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1); }
    .header__nav_line {
      position: absolute;
      left: 62%;
      top: 0;
      width: 1px;
      height: 0;
      background: #333; }
      .header__nav_line.active {
        height: 100vh;
        transition: .2s ease-in-out; }

@keyframes scroll {
  33% {
    top: 50%; }
  66% {
    top: 51%; }
  100% {
    top: 50%; } }
@keyframes wheel {
  33% {
    top: 20%;
    height: 6px;
    opacity: 1; }
  66% {
    top: 80%;
    height: 0;
    opacity: 0; }
  100% {
    top: 20%;
    height: 0;
    opacity: 1; } }
.main {
  margin-top: 240px;
  display: flex; }
  .main__left {
    width: 20%;
    height: 100vh;
    padding-left: 50px;
    position: fixed; }
    .main__left_title {
      margin-bottom: 30px;
      font-family: "Chakra Petch";
      font-size: 5rem;
      font-weight: 700;
      color: #262626; }
    .main__left_list li {
      margin-bottom: 20px;
      width: max-content; }
      .main__left_list li h3 a {
        padding-right: 6px;
        font-family: "Chakra Petch";
        font-size: 1.25rem;
        color: #262626;
        position: relative; }
        .main__left_list li h3 a::before {
          content: "";
          width: 0;
          height: 5px;
          background: #eaeaea;
          display: block;
          position: absolute;
          left: 0;
          bottom: 10%;
          z-index: -1;
          transition: .3s; }
        .main__left_list li h3 a:hover::before {
          width: 100%; }
        .main__left_list li h3 a.active::before {
          width: 100%; }
  .main__right {
    width: 80%;
    margin-left: 20%;
    position: relative; }
    .main__right_title {
      width: 100%;
      height: 180px;
      overflow: hidden;
      position: relative; }
      .main__right_title h2 {
        padding-left: 80px;
        font-size: 1.875rem;
        font-weight: 300;
        color: #666;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transform: translateY(140%);
        transition: 0.7s cubic-bezier(0.16, 1, 0.3, 1); }
        .main__right_title h2.active {
          opacity: 1;
          transform: translateY(0); }
        .main__right_title h2 span {
          font-size: 3.75rem;
          font-weight: 800;
          display: block; }
    .main__right_ind {
      font-size: 0;
      position: absolute;
      right: 120px;
      top: 60px; }
      .main__right_ind button {
        width: 31px;
        height: 57px;
        opacity: 1; }
        .main__right_ind button.active {
          cursor: auto;
          opacity: .3; }
        .main__right_ind button:first-of-type {
          margin-right: 40px;
          background-image: url("../img/work/prev.png"); }
        .main__right_ind button:last-of-type {
          background-image: url("../img/work/next.png"); }
    .main__right_img {
      width: 95%;
      height: 720px;
      margin-bottom: 150px;
      position: relative;
      overflow: hidden; }
      .main__right_img figure {
        width: 0;
        padding-bottom: 720px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        position: absolute;
        top: 0;
        transition: .6s ease; }
        .main__right_img figure.active {
          width: 100%; }
        .main__right_img figure.right {
          right: 0; }
    .main__right_list li {
      margin-right: 10%;
      border-top: 1px solid #f2f2f2; }
      .main__right_list li.active button {
        opacity: .5; }
      .main__right_list li button {
        width: 100%;
        padding: 50px 0;
        display: flex;
        align-items: center;
        transition: 1s ease-in-out; }
        .main__right_list li button:hover div {
          transform: translate(30px); }
        .main__right_list li button div {
          margin-right: 100px;
          display: flex;
          flex-direction: column;
          transition: .4s; }
          .main__right_list li button div time {
            margin-bottom: 5px;
            font-family: "Chakra Petch";
            font-size: 2.5rem;
            font-weight: 100;
            color: #555; }
          .main__right_list li button div small {
            font-family: "Chakra Petch";
            font-weight: 800;
            color: #555;
            text-align: left; }
        .main__right_list li button p {
          font-size: 1.875rem;
          font-weight: 900;
          color: #333; }
    .main__right_preview {
      width: 400px;
      height: 400px;
      position: fixed;
      right: 76px;
      bottom: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      visibility: hidden;
      opacity: 0; }
      .main__right_preview.active {
        visibility: visible;
        opacity: 1;
        transition: .3s ease-in-out; }
  .main__detail {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s cubic-bezier(0.76, 0, 0.24, 1); }
    .main__detail:last-of-type {
      display: flex;
      transform: translate(100%); }
    .main__detail.active {
      transform: translate(-100%); }
    .main__detail.active:last-of-type {
      transform: translate(0); }
    .main__detail_scroll {
      width: 30px;
      height: 45px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 40px;
      position: fixed;
      right: 50px;
      top: 50%;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-50%);
      animation: scroll 2.5s infinite ease-in-out;
      animation-delay: 1.5s; }
      .main__detail_scroll.active {
        visibility: visible;
        opacity: 1;
        transition: 1s ease-in-out; }
      .main__detail_scroll::before {
        content: "";
        width: 2px;
        height: 6px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 2px;
        display: block;
        position: absolute;
        left: 50%;
        top: 20%;
        opacity: 0;
        transform: translate(-50%);
        animation: wheel 2.5s infinite ease-in-out;
        animation-delay: 1.5s; }
    .main__detail_wrapper {
      width: 80%;
      height: 100vh;
      background: #04070b;
      position: fixed;
      right: 0;
      top: 0;
      overflow: hidden;
      z-index: 4;
      transform: translate(100%);
      transition: 1s cubic-bezier(0.87, 0, 0.13, 1); }
      .main__detail_wrapper:nth-of-type(1) .main__detail_img {
        background-image: url("../img/work/detail/detail_01_01.jpg"); }
        .main__detail_wrapper:nth-of-type(1) .main__detail_img::after {
          background-image: url("../img/work/detail/detail_01_02.jpg"); }
      .main__detail_wrapper:nth-of-type(2) .main__detail_img {
        background-image: url("../img/work/detail/detail_02_01.jpg"); }
        .main__detail_wrapper:nth-of-type(2) .main__detail_img::after {
          background-image: url("../img/work/detail/detail_02_02.jpg"); }
      .main__detail_wrapper:nth-of-type(3) .main__detail_img {
        background-image: url("../img/work/detail/detail_03_01.jpg"); }
        .main__detail_wrapper:nth-of-type(3) .main__detail_img::after {
          background-image: url("../img/work/detail/detail_03_02.jpg"); }
      .main__detail_wrapper:nth-of-type(4) .main__detail_img {
        background-image: url("../img/work/detail/detail_04_01.jpg"); }
        .main__detail_wrapper:nth-of-type(4) .main__detail_img::after {
          background-image: url("../img/work/detail/detail_04_02.jpg"); }
      .main__detail_wrapper:nth-of-type(1) p::before {
        background: #282c6b; }
      .main__detail_wrapper:nth-of-type(2) p::before {
        background: #e20714; }
      .main__detail_wrapper:nth-of-type(3) p::before {
        background: #222131; }
      .main__detail_wrapper:nth-of-type(4) p::before {
        background: #8cbff8; }
      .main__detail_wrapper.active {
        transform: translate(0); }
        .main__detail_wrapper.active .main__detail_close {
          visibility: visible;
          opacity: 1;
          transition: .5s 1s ease-in-out; }
    .main__detail_title {
      margin: 140px 0 60px;
      font-size: 4rem;
      font-weight: 600;
      color: #fff; }
      .main__detail_title small {
        font-family: "Chakra Petch";
        font-size: 2rem;
        font-weight: 100;
        line-height: 5rem;
        letter-spacing: .05rem;
        color: rgba(255, 255, 255, 0.7);
        display: block; }
    .main__detail img {
      width: 60%; }
    .main__detail_img {
      width: 44%;
      height: 50vh;
      margin-left: 6%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
      .main__detail_img::after {
        content: "";
        width: 100%;
        height: 50vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        transform: translateY(100%); }
    .main__detail_text {
      width: 50%;
      padding: 125px 30px 140px 75px;
      text-align: left;
      position: relative;
      display: flex;
      flex-wrap: wrap; }
      .main__detail_text.active p {
        transform: translate(0);
        visibility: visible;
        opacity: 1; }
      .main__detail_text p {
        width: 50%;
        font-family: "Chakra Petch";
        font-size: 1.625rem;
        font-weight: 600;
        color: #fff;
        position: relative;
        transform: translate(-20px);
        visibility: hidden;
        opacity: 0;
        transition: .5s ease-in-out; }
        .main__detail_text p:nth-of-type(1) {
          transition-delay: 0s; }
        .main__detail_text p:nth-of-type(2) {
          transition-delay: 0.1s; }
        .main__detail_text p:nth-of-type(3) {
          transition-delay: 0.2s; }
        .main__detail_text p:nth-of-type(4) {
          transition-delay: 0.3s; }
        .main__detail_text p:nth-of-type(5) {
          transition-delay: 0.4s; }
        .main__detail_text p:nth-of-type(6) {
          transition-delay: 0.5s; }
        .main__detail_text p::before {
          content: "";
          width: 60px;
          height: 7px;
          display: block;
          position: absolute;
          left: -8px;
          top: 23px;
          z-index: -1; }
        .main__detail_text p:nth-of-type(5), .main__detail_text p:nth-of-type(6) {
          width: 100%; }
        .main__detail_text p span {
          margin: 4px 0 0 16px;
          font-family: "Chakra Petch";
          color: #ccc;
          display: block; }
      .main__detail_text_link {
        padding: 0 30px;
        font-family: "Chakra Petch";
        font-size: 1.875rem;
        line-height: 3rem;
        color: #fff;
        position: absolute;
        left: 50%;
        bottom: 85px;
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, 10%);
        transition: 1s ease-in-out; }
        .main__detail_text_link.active {
          visibility: visible;
          opacity: 1;
          transform: translate(-50%); }
        .main__detail_text_link:hover {
          transform: translate(-50%, 5%); }
    .main__detail_close {
      width: 50px;
      height: 50px;
      background-image: url("../img/work/close.png");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 50px;
      top: 50px;
      visibility: hidden;
      opacity: 0; }

/*# sourceMappingURL=work.css.map */
