@import "../common/css/common";

.main {
    &__left {
        width: 20%;
        height: 100vh;
        padding: 250px 0 0 65px;
        position: fixed;

        &_title {
            margin-bottom: 30px;
            font-family: "Chakra Petch";
            font-size: 5rem;
            font-weight: 700;
            color: #262626;
        }
        &_list {
            & li {
                margin-bottom: 20px;
                width: max-content;

                & a {
                    padding-right: 6px;
                    font-family: "Chakra Petch";
                    font-size: 1.25rem;
                    color: #262626;
                    position: relative;

                    &::before {
                        content: "";
                        width: 0;
                        height: 5px;
                        background: #eaeaea;
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 10%;
                        z-index: -1;
                        transition: .3s;
                    }
                    &:hover::before {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__right {
        width: 100%;
        background: #262626;
    }
}